.primeDealsSection-bg {
    height: 68vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primeDealsSection-failure-container {
    height: 100%;
    width: 90%;
}

.pdsf-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.primeDealsSection-Success-container {
    height: 100%;
    width: 90%;
}

.pdssc-title {
    font-size: 40px;
    margin-top: 0;
    color:  #1e293b;
}

.pd-continer {
    height: 310px;
    width: 100%;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.primeDealsSection-loader-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}