.home-bg {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: roboto;
}

.home-content {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-left {
    height: 328px;
    width: 50%;
}

.hl-title {
    font-size: 58px;
    color: #1e293b;
    margin-top: 0;
}

.hl-text {
    font-size: 18px;
    color: #d7dfe9;
    margin-top: 0;
}

.shopNow-btn {
    border: none;
    background-color: #0967d2;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.home-img {
    height: 500px;
}